<p style="color: green"><%= notice %></p>

<h1>Staffs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Storageid</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="staffs">
  <% @staffs.each do |staff| %>
    <tr>
      <%= render staff %>
      <td>
          <%= link_to "Show", staff, class:"btn btn-sm btn-primary" %>
          <%= link_to "Edit", edit_staff_path(staff), class:"btn btn-sm btn-secondary" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New staff", new_staff_path %>


