<div id="<%= dom_id shipping %>">
  <p>
    <strong>Date:</strong>
    <%= shipping.date %>
  </p>

  <p>
    <strong>Kind of shipping:</strong>
    <%= shipping.kind_of_shipping %>
  </p>

  <p>
    <strong>Staffid:</strong>
    <%= shipping.staffid %>
  </p>

  <p>
    <strong>Sourceid:</strong>
    <%= shipping.sourceid %>
  </p>

  <p>
    <strong>Destinationid:</strong>
    <%= shipping.destinationid %>
  </p>

</div>
