<th scope="row"><%= shipping.id %></th>
<td><%= shipping.date %></td>
<td><%= shipping.kind_of_shipping %></td>
<td><%= shipping.staffid %></td>
<td><%= shipping.sourceid %></td>
<td><%= shipping.destinationid %></td>
