<div id="<%= dom_id farm %>">
  <p>
    <strong>Name:</strong>
    <%= farm.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= farm.address %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= farm.owner_name %>
  </p>

  <p>
    <strong>Productid:</strong>
    <%= farm.productid %>
  </p>

</div>
