<div id="<%= dom_id storage %>">
  <p>
    <strong>Name:</strong>
    <%= storage.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= storage.address %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= storage.capacity %>
  </p>

  <p>
    <strong>Available capacity:</strong>
    <%= storage.available_capacity %>
  </p>

</div>
