<p style="color: green"><%= notice %></p>

<h1>Storages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Capacity</th>
      <th scope="col">Available capacity</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="storages">
  <% @storages.each do |storage| %>
    <tr>
      <%= render storage %>
      <td>
          <%= link_to "Show", storage, class:"btn btn-sm btn-primary" %>
          <%= link_to "Edit", edit_storage_path(storage), class:"btn btn-sm btn-secondary" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New storage", new_storage_path %>

