<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="products">
  <% @products.each do |product| %>
    <tr>
      <%= render product %>
      <td>
          <%= link_to "Show", product, class:"btn btn-sm btn-primary" %>
          <%= link_to "Edit", edit_product_path(product), class:"btn btn-sm btn-secondary" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New product", new_product_path %>

