<th scope="row"><%= authorized_shop.id %></th>
<td><%= authorized_shop.name %></td>
<td><%= authorized_shop.address %></td>
<td><%= authorized_shop.owner_name %></td>
<td><%= authorized_shop.productid %></td>